.navbar {
	background-color: tomato;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	min-height: auto;
	flex: 1;
}
a:link {
	text-decoration: none;
}
.navbar > nav > ul {
	display: flex;
	list-style: none;
	padding: 10 px;
	flex-wrap: wrap;
}
.navbar > nav > ul > li {
	justify-content: space-evenly;
	padding: 10px;
	flex-wrap: wrap;
	flex: 1;
}
